.about {
    height: 730px;
    margin-bottom: 0px;  
}

#mainpic{
    border-radius: 50%;
    filter: grayscale(20%) contrast(150%) brightness(85%);
    width: 220px;
    height: 220px;
    margin-left: 430px;
    margin-bottom: 25px;
}

#abt{
    margin-left: 437px;
    margin-top: -1px;
    font-size: 45px;
    margin-bottom: 35px;
}

#textAbt {
    font-size: 25px;
    margin-left: 30px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .container:hover .image {
    opacity: 0.3;
  }

  #aboutme{
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
  }
  



