#nav-content {
    margin-left: 40%;
    font-size: 25px;
    position: fixed;
    padding: 90px;
}

.navbar-brand{
    margin-left: 15%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 8px;
    position: fixed;
    opacity: .7;
    background-color: rgb(247, 241, 241);
}

.navbar{
    height: 65px;
}