#nav-content {
    margin-left: 20%;
    font-size: 25px;
    padding: 90px;
    
}

.navbar-brand{
    margin-left: 10%;
    border: solid 1px rgb(255, 254, 254);
    border-radius: 6px;
    padding: 10px;
    opacity: .7;
   
}

.navbar{
    height: 65px;
    background-color: #1cbbb4;

}

#navlink {
    color:rgb(255, 255, 255);
    opacity: .8;
    margin-right: 25px;
}
